{% load static %}
<!-- 
    Arquivo html que irá servir de base para os demais templates, cujas informações irão aparecer dentro do bloco de conteúdo({%block content%})
    Dentro da tag <head> foi importado o Bootstrap, framework para facilitar a estilização
    Importado o arquivo questionario.css para sobrescrever a estilização do bootstrap dos elementos que estão no arquvivo.
    'questionario.titulo' referenciado dentro de {} por ser uma variável Django
    {% load static %} como primeira linha para importar os arquivos estáticos
-->

<html>
    <head>
        <title>{{ questionario.titulo }}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/questionario.css' %}">
    </head>
    <body>
        <div class="page-header titulo-questionario">
            <h1 id=''>{{ questionario.titulo }}</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>