{% extends 'questionario/base.html' %}

<!-- 
    Extende o base.html
-->


{% block content %}
<!-- 
    Caso alguma mensagem de erro do Django apareça, ela irá ficar em destaque. 
-->
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<!-- 
   Definindo um formulário no html, com o método POST e que irá redirecionar para a view vote com o id do questionário.
-->
    <form action="{% url 'questionario:votar' questionario.id %}" method="post">
   
<!-- 
   Proteção do Django contra Cross Site Request Forgeries
-->
    {% csrf_token %}
<!-- 
   Iterando para cada pergunta do objeto questionario, para imprimir o atr texto da pergunta 
   E depois iterar cada alternativa dentro da pergunta, com um botao de selecionar do tipo 'radio'
-->
    {% for pergunta in questionario.pergunta_set.all %}
        <div class='container'>
            <div class='imagem-pergunta img-thumbnail rounded float-left'> 
                <img src='{{pergunta.imagem.url}}'>
            </div>
            <div class='texto-pergunta'>
                <h2>{{pergunta.texto}}</h2>
            </div>
            <div class='texto-alternativa container1'>
                {% for alternativa in pergunta.alternativa_set.all %}
                    <input type="radio" name="{{pergunta.id}}" id="{{ pergunta.id }}" value="{{ alternativa.id }}" required>
                    <label for="{{ alternativa.id }}">{{ alternativa.texto}}</label><br>
                {%endfor%}
                    <input type="hidden" name="pergunta" id="{{pergunta.id}}" value="{{pergunta.id}}">
            </div>
        </div><br><br>
    {% endfor %}
    <div class='div-botao-enviar'>
        <input class='botao-enviar' type="submit" value="Enviar">
    </div>
    </form>
    <a href="{% url 'questionario:index' %}">Voltar para a tela de questionarios</a>
{%endblock%}