
<h1>{{ questionario.titulo }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'questionario:vote' questionario.id %}" method="post">
{% csrf_token %}
{% for pergunta in questionario.pergunta_set.all %}
    <img src='{{pergunta.imagem.url}}'>
    <h2>{{pergunta.texto}}</h2>
        {% for alternativa in pergunta.alternativa_set.all %}
            <input type="radio" name="{{pergunta.id}}" id="{{ pergunta.id }}" value="{{ alternativa.id }}" required>
            <label for="{{ alternativa.id }}">{{ alternativa.texto}}</label><br>
        {%endfor%}
            <input type="hidden" name="pergunta" id="{{pergunta.id}}" value="{{pergunta.id}}">
{% endfor %}
<input type="submit" value="Enviar">
</form>