{% extends 'questionario/base.html' %}

<!-- 
    {% extends 'questionario/base.html' %} como primeira linha para extender o código de base.html para este template.
    O código deste template está dentro de block content para ser inserido dentro do base.html
    Caso tenha questionarios, a condição será executada. 
    Para cada questionario dentro do objeto quesionario é gerado um link que leva ao detail.html, recebendo o id do questionario.
    Caso não tenha, irá executar 'Nenhum questionario disponível'
-->



{%block content%}
    {% if questionarios %}
        <h1>Questionários</h1>
        <ul>
        {% for questionario in questionarios %}
            <li><a href="{% url 'questionario:detail' questionario.id %}">{{ questionario.titulo }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum questionario disponível.</p>
    {% endif %}
{%endblock%}